body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.success {
  color: green;
}
.x-large {
  font-size: 32px;
}
.large {
  font-size: 20px;
}
.small {
  font-size: 16px;
}
.x-small {
  font-size: 12px;
}

a {
  color: aquamarine;
}
